a {
  text-decoration: none;
}

.header {
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--accent);
  background-color: var(--bg-surface);
  color: var(--text-primary);
}

.header h1 {
  font-size: x-large;
  font-weight: bolder;
  color: var(--accent);
}

.header .link {
  display: flex;
  gap: 2rem;
}

.header .link a {
  color: var(--accent);
}

.header .active {
  border-bottom: 2px solid var(--accent);
}

.header button {
  border: none;
  background: none;
  cursor: pointer;
}
